@charset "utf-8";
/* CSS Document */

body {margin:0px;
padding:opx;}

#expandible {
	background-color:#000;
	background-image:
	url(../imagenes/furley_bg.png);
	background-attachment: fixed;
	background-repeat: repeat;
	float: left;
	width: 100%;
	min-height: 100%;
	padding-bottom:25%;	
}
#home {
	
	
}
.title{
	width: 80%;
	margin-top:3%;
	margin-left: 7%;
	padding-left:3%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 150%;
	font-weight: bolder;
	text-transform: capitalize;
	color: #999;
	text-align: left;}

#home:hover{
	
}

.bb{
	float: left;
	width: 85%;
	padding:4%;
	min-height: 40%;
	margin-left: 5%;
	margin-top:2%;
	color:	#ffffff;
	border: solid #ffffff 4px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	background-color: #bdd1e3;
	
	
	
	
	
	
}

#bb0 {
	
}
#bb1 {
	
}
#bb2 {
	
}


#mapa {
	height: 100%;
	width: 100%;
	margin-top: 10px;
}



.tt{
width: 80%;
	height: 45px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-transform: capitalize;
	font-size: 100%;
	float: left;
	margin-left: 11%;
	margin-top: 6%;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	border-radius: 60px;
	-webkit-box-shadow: 0px 2px 3px #666666;
	-moz-box-shadow: 0px 2px 3px #666666;
	box-shadow: 0px 2px 3px #666666;
	text-shadow: 1px 1px 0px #ffffff;
	border: solid #ffffff 2px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#bdd1e3));
	background: -moz-linear-gradient(top, #ffffff, #bdd1e3);
	color:#000;
}
.tt:hover{
width: 80%;
	height: 8%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bolder;
	text-transform: capitalize;
	font-size: 105%;
	float: left;
	margin-left: 11%;
	margin-top: 6%;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#bdd1e3), to(#ffffff));
	background: -moz-linear-gradient(top, #bdd1e3,#ffffff );
	
	
}
#tt0 {
	
}

#tt0:hover{
	
}
#tt1 {
	}
#tt1:hover{
	


}
#tt2 {
	
}
#tt2:hover{
	}
#botonimagen{
	
}
#botonimagen:hover{
	
}

#llamar {
	
			 	   
}
#llamar:hover {
	
}
#escribir {
	
}
#escribir:hover {
	
}
#ubicar {
	
}
#ubicar:hover {
	
}
#faceb {
	
}
#faceb:hover {
	
	
}
#twitt {
	
}
#twitt:hover {
	
}

.imagerow{
margin-top: 2%;	
}

.single,single first,single last {
	width: 80%;
	margin-top: 2%;
	margin-left:10%;
}
