@charset "utf-8";

#home {

	

	width: 80%;
	height: 8%;
	font-size: medium;
	float: left;
	margin-left: 11%;
	margin-top: 3px;
	
	
}
/* CSS Document */

#bb0 {
	height: 100%;
}
#bb1 {
	height: 100%;
}
#bb2 {
	height: 100%;
}


#mapa {
	height: 100%;
	width: 100%;
	margin-top: 10px;
}
#expandible {
	height: 100%;
	width: 100%;
}
#tt0 {
	width: 80%;
	height: 8%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bolder;
	text-transform: uppercase;
	font-size: medium;
	float: left;
	margin-left: 11%;
	margin-top: 3px;
}
#tt1 {
	width: 80%;
	height: 8%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bolder;
	text-transform: uppercase;
	font-size: medium;
	float: left;
	margin-left: 11%;
	margin-top: 3px;
}
#tt2 {
	width: 80%;
	height: 8%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bolder;
	text-transform: uppercase;
	font-size: medium;
	float: left;
	margin-left: 11%;
	margin-top: 3px;
}
#botonimagen{
width: 80%;
	height: 8%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bolder;
	text-transform: uppercase;
	font-size: medium;
	float: left;
	margin-left: 11%;
	margin-top: 3px;
}
#llamar {
		 	   
}
#llamar:active {
		 	   
}
#escribir {
}
#escribir:active {
}
#ubicar {
}
#ubicar:active {
}
#face {
}
#face:active {
}
#twit {
}
#twit:active {
}