@charset "utf-8";
/* CSS Document */

#bb0 {
	height: 100%;
}
#bb1 {
	height: 100%;
}
#bb2 {
	height: 100%;
}


#mapa {
	height: 100%;
	width: 100%;
	margin-top: 10px;
}
#expandible {
	height: 100%;
	width: 100%;
}
