@charset "utf-8";
/* CSS Document */
#home {
	
	width: 80%;
	height: 8%;
	font-size: medium;
	float: left;
	margin-left: 11%;
	margin-top: 3px;

}

#bb0 {
	float:left;
	width: 90%;
	min-height:40%;
	background-color: #CCC;
	margin-left: 6%;
}
#bb1 {
	float:left;
	width: 90%;
	min-height:40%;
	background-color: #CCC;
	margin-left: 6%;
}
#bb2 {
	float:left;
	width: 90%;
	min-height:40%;
	background-color: #CCC;
	margin-left: 6%;
}


#mapa {
	height: 100%;
	width: 100%;
	margin-top: 10px;
}
#expandible {
	height: 100%;
	width: 100%;
}
#tt0 {
	width: 80%;
	height: 8%;
	font-family: "Trebuchet MS", 	Arial, Helvetica, sans-serif;
	font-weight: bolder;
	text-transform: uppercase;
	font-size: medium;
	float: left;
	margin-left: 11%;
	margin-top: 3px;
}
#tt1 {
	width: 80%;
	height: 8%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bolder;
	text-transform: uppercase;
	font-size: medium;
	float: left;
	margin-left: 11%;
	margin-top: 3px;
}
#tt2 {
	width: 80%;
	height: 8%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bolder;
	text-transform: uppercase;
	font-size: medium;
	float: left;
	margin-left: 11%;
	margin-top: 3px;
}
#botonimagen{
width: 80%;
	height: 8%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bolder;
	text-transform: uppercase;
	font-size: medium;
	float: left;
	margin-left: 11%;
	margin-top: 3px;
}
.contacto {
		background: #65a9d7;
		float: left;
	height: 18%;
	width: 33%;
	overflow: hidden;
	position: static;
	margin-right: 70%;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin-top:2%;
	 
}
.contacto:hover {
	background: #3e779d;
		 }
#llamar {
	background-image: url(../imagenes/phone.png);
	background-repeat: no-repeat;
			 	   
}
#llamar:hover {
	background-image:url(../imagenes/phone-copia.png)
}
#escribir {
	background-image:url(../imagenes/mail-back.png)
}
#escribir:hover {
	background-image:url(../imagenes/mail-back-copia.png)
}
#ubicar {
	background-image:url(../imagenes/location.png)
}
#ubicar:hover {
	background-image:url(../imagenes/location-copia.png)
}
#faceb {
	background-image:url(../imagenes/facebook.png)
		
}
#faceb:hover {
	background-image:url(../imagenes/facebook.png)
	
}
#twitt {
	background-image:url(../imagenes/twitter.png)
}
#twitt:hover {
	background-image:url(../imagenes/twitter-copia.png)
}
